<html>
  <form method="post" action="/home">
    <table>
      <tr>
        <td>name</td><td><input type="text" placeholder=" Enter name" name="name"></td>
      </tr>
      <tr>
        <td>password</td><td><input type="password" placeholder=" Enter password" name="password"></td>
      </tr>
      <tr>
        <td><a href="/reg_form"><input type="button" value="register"></a></td><td><input type="submit" value="login"></td>
      </tr>
    </table>
  </form>
</html>
