<html>
<div class="col-lg-12">
  <nav class="navbar navbar-inverse" style="padding:0px 200px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">STMS</a>
      </div>
      <ul class="nav navbar-nav" style="float:right">
        <li><a href="/store">Store</a></li>
        <li><a href="/customer">User</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>
</html>
