<head>
  <% include head.ejs %>
<body style="height:655px">
  <div class="col-lg-12">
    <nav class="navbar navbar-inverse" style="padding:0px 100px">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">STMS</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-12" style="padding:0px 200px">
    <!-- left col -->
    <div class="col-lg-12 well" style="height:100%">
      <form method="post" action="/regis_commit">
        <table class="table table-bordered">
          <tr style="text-align:center">
            <td colspan="2" style="background-color:gray;color:white"><b>Register Form</b></td>
          </tr>
          <tr>
            <td style="width:20%">Name</td>
            <td style="width:80%;background-color:white">
              <input style="width:100%" type="text" name="name" placeholder=" Name . . .">
            </td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td style="background-color:white">
              <input style="width:100%" type="E-mail" name="email" placeholder=" E-mail . . .">
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td style="background-color:white">
              <input style="width:100%" type="password" name="password" placeholder=" Password . . .">
            </td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td style="background-color:white">
              <input style="width:100%" type="password" name="conf_password" placeholder=" Confirm-Password . . .">
            </td>
          </tr>
          <tr>
            <td>TEL</td>
            <td style="background-color:white">
              <input style="width:100%" type="text" name="tel" placeholder=" Tel . . .">
            </td>
          </tr>
          <tr>
            <td>Status</td>
            <td style="background-color:white">
              <input style="width:100%" type="text" name="status" placeholder=" Status . . .">
            </td>
          </tr>
          <tr>
            <td colspan="2">Address</td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea name="address" style="height:150px;width:100%;resize:none" placeholder=" Address . . ."></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Commit">
            </td>
            <td>
              <a style="float:right" href="/"><input type="button" value="Back to Home"></a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <hr>
</body>
</head>
